@import "general.css";
@import "colors.css";
@import "navigation.css";

.container {
    max-width: 127.2rem;
    margin: 0 auto;
}

.breadcrumbs ul{
    display: flex;
}

.breadrumb__item {
    margin-right: 1.6rem;
}

.breadrumb__item::after {
    content: "/";
    margin-left: 1.6rem;
}
/* 
.breadrumb__item:last-child::after {
    content: "";
    margin-left: 0;
} */